{% extends 'base.html.twig' %}

{% block body %}

    {#  aria-labelledby associates the section with name "popularCuisinesHeading"  #}
    {# This improves the association between the heading and the content for screen reader users.   #}
    <section class="home-section" role="region" aria-labelledby="popularCuisinesHeading">
        {#   Section for Popular Cuisines     #}
        <div class="container-small">
            <article class="block block-last">
                <div class="block-body">
                    <h2 class="title" id="popularCuisinesHeading">Popular Cuisines</h2>
                </div>
            </article>

            {% if topSevenCuisines is not empty %}
                {#   Navigation Menu for Popular Cuisines     #}
                <nav class="ingredients-menu" role="navigation" aria-label="Popular Cuisines Menu">
                    {% for topSevenCuisine in topSevenCuisines %}
                        {# Create a link to recipes filters page with an aria-label attribute #}
                        <a href="{{ path('app_recipes_all_filters', {'cuisineId': topSevenCuisine[0].id}) }}" aria-label="{{ topSevenCuisine[0].name }}">{{ topSevenCuisine[0].name }}</a>
                    {% endfor %}
                </nav>
            {% endif %}

        </div>
        {% if fourRandomRecipes is not empty %}
            {#     Container for Four Random Cuisines Recipes      #}
            <div class="container" role="region" aria-labelledby="menu-heading">
                <div class="recipe-summary" id="menu">
                    {% for fourRandomRecipe in fourRandomRecipes %}
                        <article class="recipe-summary-item">
                            <a href="{{ path('show_recipe', {'id': fourRandomRecipe.id}) }}" aria-label="{{ fourRandomRecipe.name }}">
                                <img class="recipe-summary-img" src="{{ asset('uploads/images/' ~ fourRandomRecipe.thumbnail) }}" alt="{{ fourRandomRecipe.name }}" title="{{ fourRandomRecipe.name }}">
                                <h3 class="recipe-summary-title">{{ fourRandomRecipe.name }}</h3>
                                {# Display Maximum 20 words of the recipe description #}
                                <p>{{ fourRandomRecipe.description|split(' ')|slice(0, 20)|join(' ') }}</p>
                                <div class="recipe-summary-infos">{{ fourRandomRecipe.cuisine }}</div>
                            </a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>

    <section class="home-section" role="region" aria-labelledby="topPicksHeading">
        {#  Section for Popular Recipes    #}
        <div class="container-small">
            <article class="block block-last">
                <div class="block-body">
                    <h2 class="title" id="topPicksHeading">Popular recipes</h2>
                </div>
            </article>
        </div>

        {% if topLikedRecipes is not empty %}

            {# Loop through each topLikedRecipe in the topLikedRecipes array #}
            {% for topLikedRecipe in topLikedRecipes %}

                {# Set the classes to be used in a cycle for alternating styling #}
                {% set cycleClasses = ['block-left', 'block-right'] %}
                {# Use the cycle function to alternate between block-left and block-right classes #}
                {% set blockClass = cycle(cycleClasses, loop.index0) %}

                <article class="block {{ blockClass }}" role="article">
                    {# Display the recipe thumbnail image with alt text set to the recipe name #}
                    <div class="block-img">
                        <img src="{{ asset('uploads/images/' ~ topLikedRecipe[0].thumbnail) }}" alt="{{ topLikedRecipe[0].name }}" title="{{ topLikedRecipe[0].name }}">
                    </div>

                    {# Display the title with the word "Discover" wrapped in a span for styling #}
                    <div class="block-body">
                        <h2 class="title"><span>Discover</span> our top recipes</h2>

                        {# Display a shortened version of the recipe description #}
                        <p>
                            {% set words = topLikedRecipe[0].description|split(' ') %}
                            {% set limitedWords = words|slice(0, 20)|join(' ') %}
                            {{ limitedWords }}{% if words|length > 20 %}...{% endif %}
                        </p>

                        {# Create a link to the detailed recipe page with an aria-label attribute #}
                        <a href="{{ path('show_recipe', {'id': topLikedRecipe[0].id}) }}" class="more" aria-label="{{ topLikedRecipe[0].name }}">See more</a>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </section>

    <section class="home-section" role="region" aria-labelledby="recipeInspirationsHeading">
        {#   Section for Nine Latest Inserted Recipes    #}
        <div class="container-small">
            <article class="block block-last">
                <header>
                    <h2 class="title" id="recipeInspirationsHeading">Latest Recipes</h2>
                </header>
            </article>

            <div class="container-small flex-content">
                <ul class="card-container" role="list">
                    {% for recipe in nineLatestRecipes %}

                        <li class="custom-card" role="listitem">
                            {% if app.user and 'ROLE_USER' in app.user.roles %}
                                <div class="like-container">
                                    {% if recipe.getLikedUsers().contains(app.user) %}
                                        <i class="fa-solid fa-heart like-icon liked" data-recipe-id="{{ recipe.id }}"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart like-icon" data-recipe-id="{{ recipe.id }}"></i>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <a href="{{ path('show_recipe', {id: recipe.id}) }}">
                                <figure>
                                    {% if recipe.thumbnail %}
                                        <img src="{{ asset('uploads/images/' ~ recipe.thumbnail) }}" alt="{{ recipe.name }}" title="{{ recipe.name }}">
                                    {% else %}
                                        <i class="fa-solid fa-eye-slash fa-2xl" aria-label="No image available"></i>
                                    {% endif %}
                                    <figcaption>
                                        <h4>{{ recipe.name }}</h4>
                                        <p>{{ recipe.description|slice(0, 50) }}...</p>
                                        <p>See More</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{ path('app_recipes_all_filters') }}" class="button-show-all">See All Recipes<i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </div>
    </section>

    <script src="{{ asset('js/recipes-likes.js') }}"></script>
{% endblock %}

{# Set route-data for scss #}
{% set pageRoute = 'home' %}
