{% extends 'base.html.twig' %}

{% block body %}
{#　MARIKA categories-sectio のcssを加える。 #}
    <section class="categories-section">
        <div  class="container-small">
            <article  class="block block-last">
                <div class="block-body">
                    <h2 class="title">Receipes</h2>
                </div>
            </article>
        </div>
        {% if getCuisineCategories is defined and getCuisineCategories.results is defined %}
            <div class="recipe-container">
                {% for key, recipe in getCuisineCategories.results|batch(3) %}
                    <div class="recipe-row">
                        {% for item in recipe %}
                            <article class="recipe-card m-2">
                                {% if item.image is defined %}
                                    <img src="{{ item.image }}" alt="{{ item.title }}">
                                {% else %}
                                    <img src="{{ asset('images/no-image.png') }}" alt="No Food Image Available">
                                {% endif %}
                                <div class="recipe-card-body">
                                    <h3 class="recipe-card-title">{{ item.title }}</h3>
                                    <!-- Add any additional recipe information here -->
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="container-small flex-content">
                <ul class="card-container" role="list">
                    <li class="card-component" role="listitem">
                        <figure>
                            <img src="{{ asset('images/salad_fig.jpg') }}" alt="A photo of a delicious-looking salad featuring figs, Camembert cheese, tomatoes, and cucumbers">
                            <figcaption>
                                <h4><b>Delicious Recipe 1</b></h4>
                                <p>Description of Recipe 1.</p>
                            </figcaption>
                        </figure>
                    </li>

                    <li class="card-component" role="listitem">
                        <figure>
                            <img src="{{ asset('images/salad_fig.jpg') }}" alt="A photo of a delicious-looking salad featuring figs, Camembert cheese, tomatoes, and cucumbers">
                            <figcaption>
                                <h4><b>Delicious Recipe 1</b></h4>
                                <p>Description of Recipe 1.</p>
                            </figcaption>
                        </figure>
                    </li>

                    <li class="card-component" role="listitem">
                        <figure>
                            <img src="{{ asset('images/salad_fig.jpg') }}" alt="A photo of a delicious-looking salad featuring figs, Camembert cheese, tomatoes, and cucumbers">
                            <figcaption>
                                <h4><b>Delicious Recipe 1</b></h4>
                                <p>Description of Recipe 1.</p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        {% endif %}
    </section>
{% endblock %}

{% set pageRoute = 'categories' %}