{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="form-control">
            <h1>Contact Form</h1>
            <form class="form-detail" method="post">
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.name) }}
                {{ form_row(form.message) }}
                <input type="submit" value="Send" class="custom-button-wide">
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}
