{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
    <section class="contact-form page-content">
        <div class="form-control">
            <h1>Contact Form</h1>
            <form method="post">
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.name) }}
                {{ form_row(form.message) }}
                <input type="submit" value="Send" class="custom-button-wide">
                {{ form_end(form) }}
            </form>
        </div>
    </section>
{% endblock %}

{% set pageRoute = 'contact_form' %}