{% extends 'base.html.twig' %}

{% block body %}

    <section>
{#<!-- JSONデータを表示 これだとJSONがそのまま表示される MARIKA -->#}
{#        <pre>#}
{#        {{ jsonDataSpoonacular|json_encode|raw }}#}
{#        </pre>#}

        {% if jsonDataSpoonacular is defined %}
            {% set recipe = jsonDataSpoonacular.recipes[0] %}

            <h1>{{ recipe.title }}</h1>
            <p>Preparation Time: {{ recipe.preparationMinutes }} minutes</p>
            <p>Cooking Time: {{ recipe.cookingMinutes }} minutes</p>
            <p>Servings: {{ recipe.servings }}</p>
            <p>Price Per Serving: ${{ recipe.pricePerServing }}</p>
            <p>Health Score: {{ recipe.healthScore }}</p>

            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in recipe.extendedIngredients %}
                    <li>{{ ingredient.original }}</li>
                {% endfor %}
            </ul>

            <h2>Instructions</h2>
            <p>{{ recipe.summary|raw }}</p>

            <img src="{{ recipe.image }}" alt="{{ recipe.title }}" />

            <a href="{{ recipe.sourceUrl }}" target="_blank">Source</a>
        {% else %}
            <p>No meal data available.</p>
        {% endif %}

{#        {% if jsonDataTheMealDB is defined %}#}
{#            {% set meal = jsonDataTheMealDB.meals[0] %}#}

{#            <h1>{{ meal.strMeal }}</h1>#}
{#            <img src="{{ meal.strMealThumb }}" alt="{{ meal.strMeal }}" />#}

{#            <h2>Category: {{ meal.strCategory }}</h2>#}
{#            <h2>Area: {{ meal.strArea }}</h2>#}

{#            <h2>Ingredients:</h2>#}
{#            <ul>#}
{#                {% for i in 1..20 %}#}
{#                    {% set ingredientKey = 'strIngredient' ~ i %}#}
{#                    {% set measureKey = 'strMeasure' ~ i %}#}
{#                    {% if meal[ingredientKey] is not empty %}#}
{#                        <li>{{ meal[measureKey] }} {{ meal[ingredientKey] }}</li>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </ul>#}

{#            <h2>Instructions:</h2>#}
{#            <p>{{ meal.strInstructions|raw }}</p>#}

{#            {% if meal.strYoutube is defined %}#}
{#                <h2>Video:</h2>#}
{#                <a href="{{ meal.strYoutube }}" target="_blank">Watch on YouTube</a>#}
{#            {% endif %}#}

{#            <h2>Source:</h2>#}
{#            <a href="{{ meal.strSource }}" target="_blank">{{ meal.strSource }}</a>#}
{#        {% else %}#}
{#            <p>No meal data available.</p>#}
{#        {% endif %}#}


    </section>

{% endblock %}
