<!DOCTYPE html>
{#MARIKA Add languages}#}
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Umami{% endblock %}</title>

        {% set pageRoute = pageRoute ?? null %} {# MARIKA : data-route Initialize the variable, defaulting to null if not set #}

        {# webpack.config.jsにSCSSファイルを追加する#}
        <link rel="stylesheet" href="{{ asset('build/base.css') }}">
        <link rel="stylesheet" href="{{ asset('build/header-styles.css') }}">
        <link rel="stylesheet" href="{{ asset('build/home-styles.css') }}">
        <link rel="stylesheet" href="{{ asset('build/categories.css') }}">
        <link rel="stylesheet" href="{{ asset('build/card.css') }}">
        <link rel="stylesheet" href="{{ asset('build/form.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/fontawesome-free-6.4.2-web/css/all.css') }}" title="Font Awesome Icons">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body data-route="{{ pageRoute }}">
        {% include 'header.html.twig' %}
        {% block body %}
        {% endblock %}
        <footer>FOOTER</footer>
    </body>
</html>
