<header class="header">
    <div class="topbar">
        <div class=logo>
            <a href="{{ path('home') }}">
                <img src="{{ asset('images/umami_white_small.png') }}" alt="Umami Logo">
            </a>
        </div>
        <nav class="menu">
            <a href="{{ path('about_us') }}" class="menu-item">About Us</a>
            <a href="{{ path('categories') }}" class="menu-item">Categories</a>
            <a href="#" class="menu-item">Contact</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_dashboard') }}" class="menu-item">Admin</a>
                <a href="{{ path('cuisines') }}" class="menu-item">Cuisines</a>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.displayName is not same as(app.user.email) %}
                <a href="{{ path('logout') }}" class="menu-item">Log Out</a>
                <a href="{{ path('list_recipes') }}" class="menu-item">About recipes</a>
                <a href="{{ path('user_edit') }}">
                    <img
                            src="{{ app.user.avatarUri }}"
                            alt="{{ app.user.displayName }} Avatar">
                </a>
            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.displayName is same as (app.user.email)  %}
                <a href="{{ path('list_recipes') }}" class="menu-item">About recipes</a>
                <a href="{{ path('logout') }}" class="menu-item">Log Out</a>
                <i class="fa-regular fa-user"></i>
            {% else %}
                <a href="{{ path('login') }}" class="menu-item">Log In</a>
                <a href="{{ path('register') }}" class="menu-item">Sign up</a>
            {% endif %}

            <a href="#" class="menu-item menu-button" aria-label="Search">
                <i class="fa fa-search"></i>
            </a>
        </nav>
    </div>
    <div class="baseline">
        <img class="baseline-name text-center" src="{{ asset('images/umami-logos_white_half.png') }}" alt="UMAMI Logo">
        <span class="baseline-slogan">Savor the Flavor</span>
    </div>
</header>


