<header class="header">
    <div class="topbar">
        <div class="logo">
            <a href="{{ path('home') }}">
                <img src="{{ asset('images/umami-blue-small.png') }}" alt="Umami Logo" aria-hidden="true">
            </a>
        </div>
        <nav class="menu topnav" id="myTopnav" role="navigation">
            {# Main Navigation Links #}
            <a href="{{ path('about_us') }}" class="menu-item">About</a>
            <a href="{{ path('app_contact_us') }}" class="menu-item">Contact</a>

            {# Admin-specific Navigation Links (if user is an admin) #}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_dashboard') }}" class="menu-item">Admin</a>
                <a href="{{ path('cuisines') }}" class="menu-item">Cuisines</a>
            {% endif %}

            {# User-specific Navigation Links #}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.displayName is not same as(app.user.email) %}
                <a href="{{ path('logout') }}" class="menu-item">Log Out</a>
                <a href="{{ path('list_recipes') }}" class="menu-item">About Recipes</a>
                <a href="{{ path('user_edit') }}" class="menu-item menu-button-box" aria-label="{{ app.user.displayName }} Avatar">
                    <img src="{{ app.user.avatarUrl }}" alt="{{ app.user.displayName }} Avatar">
                </a>
            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.displayName is same as(app.user.email) %}
                <a href="{{ path('list_recipes') }}" class="menu-item">About Recipes</a>
                <a href="{{ path('logout') }}" class="menu-item">Log Out</a>
                <i class="fa-regular fa-user" aria-hidden="true"></i>
            {% else %}
                <a href="{{ path('login') }}" class="menu-item">Log In</a>
                <a href="{{ path('register') }}" class="menu-item">Sign Up</a>
            {% endif %}

            {#  Search Icon #}
            <a href="{{ path('app_recipes_all_filters') }}" class="menu-item menu-button-box" aria-label="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>

            {# Dark Mode Toggle #}
            <a id="darkModeToggle" class="menu-item menu-button-box" aria-label="Toggle light/dark mode">
                <i class="fa-solid fa-circle-half-stroke" aria-hidden="true"></i>
            </a>

            {# Responsive Navigation Toggle #}
            <a href="javascript:void(0);" class="icon" onclick="responsiveNav()" aria-label="Toggle Navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
        </nav>
    </div>
    <div class="baseline">
        <img class="baseline-name text-center" src="{{ asset('images/umami-blue.png') }}" alt="UMAMI Logo">
        <span class="baseline-slogan">Savor the Flavor</span>
    </div>
</header>
