{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}


    {% if decodedTheMealDbData is not empty and decodedTheMealDbData.meals is defined %}


        <section class="row-recipe">
            <div class="leftcolumn">
                <article class="card-box">
                    <h3>About Recipe</h3>
                    <ul>
                        {% if decodedTheMealDbData.meals[0].strCategory is not empty %}
                            <p>Category : {{ decodedTheMealDbData.meals[0].strCategory }}</p>
                        {% endif %}

                        {% if decodedTheMealDbData.meals[0].strArea is not empty %}
                            <p>Cuisine : {{ decodedTheMealDbData.meals[0].strArea }}</p>
                        {% endif %}
                    </ul>
                </article>
                <article class="card-box">
                    <h3>Ingredients</h3>
                    <ul>
                        {% for i in 1..20 %}
                            {% set ingredientKey = 'strIngredient' ~ i %}
                            {% set measureKey = 'strMeasure' ~ i %}

                            {% if decodedTheMealDbData.meals[0][ingredientKey] is not empty and decodedTheMealDbData.meals[0][measureKey] is not empty %}
                                <li>{{ decodedTheMealDbData.meals[0][ingredientKey] }} : {{ decodedTheMealDbData.meals[0][measureKey] }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
                {% if sameCategoryRecipes is not empty %}
                    <article class="recommendation-recipes">
                        <h3>You may also like</h3>
                        {% for meal in sameCategoryRecipes.meals %}
                            <a href="{{ path('show_the_meal_db_recipe', {idMeal: meal.idMeal}) }}">
                                <h4>{{ meal.strMeal }}</h4>
                                <img src="{{ asset(meal.strMealThumb) }}" alt="{{ meal.strMeal }}">
                            </a>
                        {% endfor %}
                    </article>
                {% endif %}
            </div>
            <div class="rightcolumn">
                <article class="card-box">
                    <h2>{{ decodedTheMealDbData.meals[0].strMeal }}</h2>
                    <img class="recipe-img" src="{{ decodedTheMealDbData.meals[0].strMealThumb }}" alt="{{ decodedTheMealDbData.meals[0].strMeal }}">

                    <h3>Instructions</h3>
                    <p>{{ decodedTheMealDbData.meals[0].strInstructions }}</p>
                </article>
            </div>
        </section>

    {% endif %}

        <section class="comment-section">
            <h2>Comments</h2>

            {# Display a add flash messages of comments #}
            <div id="comments-flash-message-container"role="alert"></div>

            {% if is_granted('ROLE_USER') %}
                {{ form_start(form, {'attr' : {'class': 'comments'}, 'action': path('show_the_meal_db_recipe', {'idMeal' : theMealDbId}), 'method' : 'POST'}) }}
                {{ form_row(form.content) }}
                {{ form_row(form._token) }}
                <button class="custom-button-wide" type="submit">Add a comment</button>
                {{ form_end(form) }}
            {% else %}
                {# Display a message for non-authenticated users #}
                <p>Please log in to see or leave comments.</p>
            {% endif %}

            <div id="comment-parent">
                {% for comment in comments %}
                    {% if comment.getUser() is not null and comment.getUser() is defined %}
                        <div class="comment-container">
                            <h4>Name: {{ comment.getUser().getUsername() }}</h4>
                            <p class="posted-info">Posted on {{ comment.datetime|date("F j, Y") }}</p>
                            <p>{{ comment.content }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>

{#    <script src="{{ asset('js/the-meal-db-api.js') }}" type="application/javascript"></script>/#}
    <script src="{{ asset('js/comments.js') }}" type="application/javascript"></script>
{% endblock %}

{# Set route-data for scss #}
{% set pageRoute = 'show_recipes' %}


