
{# TODO MARIKA check wekk if its used or not !!!#}
{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="custom-button-wide">{{ button_label|default('Save') }}</button>#}
{#    <a href="{{ path('list_recipes') }}" class="return-list-button">back to list</a>#}
{#{{ form_end(form) }}#}

