{% extends 'base.html.twig' %}

{% block title %}Create a New Recipe{% endblock %}

{% block body %}

    <h1>Edit Recipes</h1>

    {{ form_start(form) }}
    {{ form_errors(form.recipe) }}
    {{ form_row(form.recipe.name) }}
    {{ form_row(form.recipe.description) }}
    {{ form_row(form.recipe.instructions) }}
    {{ form_row(form.recipe.thumbnail) }}
    {{ form_row(form.recipe.prepTime) }}
    {{ form_row(form.recipe.servings) }}
    {{ form_row(form.recipe.cookTime) }}
    {{ form_row(form.recipe.calories) }}
    {{ form_row(form.recipe.difficulty) }}
    {{ form_row(form.recipe.cuisine) }}
    {{ form_row(form.recipe.category) }}

    <ul id="ingredient-fields-list"
        data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>' }}"
        data-widget-counter="{{ form.ingredients|length }}">
        {% for ingredient in form.ingredients %}
            <li>
                {{ form_errors(ingredient) }}
                {{ form_row(ingredient.name) }}
                {{ form_row(ingredient.amount) }}
            </li>
        {% endfor %}
        {# Error message also appears when use try to Create Recipe without pressing Add Ingredient #}
        <span id="js-ingredient-error-message" class="error-message"></span>
    </ul>

    <div id="photos"
         data-index="{{ form.recipe.photos|length > 0 ? form.recipe.photos|last.vars.name + 1 : 0 }}"
         data-prototype="{{ form_widget(form.recipe.photos.vars.prototype)|e('html_attr') }}">
    </div>

    {% for photo in photos %}
        <span class="img-container">
            <img src="{{ asset('uploads/images/' ~ photo.fileName) }}" alt="{{ asset(photo.fileName) }}">
            <a href="{{ path('app_delete_photo_recipe', {'id': recipe.id, 'imageId': photo.id}) }}" class="custom-delete-button">X</a>
        </span>
    {% endfor %}

    <div class="custom-button-container">
        <button type="button"
                class="add-another-collection-widget custom-button-wide"
                data-list-selector="#ingredient-fields-list"
                aria-label="add ingredients">Add ingredient</button>
        <button type="button" class="js-btn-add custom-button-wide" data-collection="#photos">Add additional imagese</button>
    </div>

    <button type="submit" class="custom-button-wide" aria-label="Edit Recipe">Edit Recipe</button>

    {{ form_row(form._token) }}  {# This renders csrf token row have not yet been rendered for the given form  #}
    {{ form_end(form, {'render_rest': false}) }}

    <script src="{{ asset('js/recipes-ingredients-form.js') }}"></script>
{% endblock %}

{# Set route-data for scss #}
{% set pageRoute = 'recipe-form' %}
