{% extends 'base.html.twig' %}

{% block title %}Create a New Recipe{% endblock %}

{% block body %}

    <h1>Edit Recipes</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.recipe) }}

    <ul id="ingredient-fields-list"
        data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>' }}"
        data-widget-counter="{{ form.ingredients|length }}">
        {% for ingredient in form.ingredients %}
            <li>
                {{ form_errors(ingredient) }}
                {{ form_row(ingredient.name) }}
                {{ form_row(ingredient.amount) }}
            </li>
        {% endfor %}
    </ul>

    <button type="button"
            class="add-another-collection-widget custom-button-small"
            data-list-selector="#ingredient-fields-list"
            aria-label="add ingredients">Add another ingredient</button>
    <button type="submit" class="custom-button-wide" aria-label="Edit Recipe">Edit Recipe</button>

    {{ form_row(form._token) }}  {# This renders csrf token row have not yet been rendered for the given form  #}
    {{ form_end(form, {'render_rest': false}) }}


{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('build/recipe-form.js') }}"></script>
{% endblock %}

{# Set route-data for scss #}
{% set pageRoute = 'recipe-form' %}
