{% extends 'base.html.twig' %}

{% block title %}Recipes index{% endblock %}

{% block body %}
    <h1>Recipes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Instructions</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Image</th>
                <th>Prep_time</th>
                <th>Servings</th>
                <th>Cook_time</th>
                <th>Calories</th>
                <th>Difficulty</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.instructions }}</td>
                <td>{{ recipe.createdAt ? recipe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ recipe.updatedAt ? recipe.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ recipe.image }}</td>
                <td>{{ recipe.prepTime }}</td>
                <td>{{ recipe.servings }}</td>
                <td>{{ recipe.cookTime }}</td>
                <td>{{ recipe.calories }}</td>
                <td>{{ recipe.difficulty }}</td>
                <td>
                    <a href="{{ path('app_recipes_show', {'id': recipe.id}) }}">show</a>
                    <a href="{{ path('app_recipes_edit', {'id': recipe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recipes_new') }}">Create new</a>
{% endblock %}
