{% extends 'base.html.twig' %}

{% block title %}Create a New Recipe{% endblock %}

{% block body %}
    <h1>Create a New Recipe</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.instructions) }}
    {{ form_row(form.prep_time) }}
    {{ form_row(form.servings) }}
    {{ form_row(form.cook_time) }}
    {{ form_row(form.calories) }}
    {{ form_row(form.difficulty) }}
    {{ form_row(form.image) }}

    <button type="submit" class="btn btn-primary">Create Recipe</button>

    {{ form_end(form) }}

{#    MARIKA TODO Adjust this design to form make sure rename the class and get rid of un useful details change scss according to it too #}
    <div class="form-style-3">
        <form>
            <fieldset><legend>Personal</legend>
                <label for="field1"><span>Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>
                <label for="field2"><span>Email <span class="required">*</span></span><input type="email" class="input-field" name="field2" value="" /></label>
                <label for="field3"><span>Phone <span class="required">*</span></span><input type="text" class="input-field" name="field3" value="" /></label>
                <label for="field4"><span>Subject</span><select name="field4" class="select-field">
                        <option value="Appointment">Appointment</option>
                        <option value="Interview">Interview</option>
                        <option value="Regarding a post">Regarding a post</option>
                    </select></label>
            </fieldset>
            <fieldset><legend>Message</legend>
                <label for="field6"><span>Message <span class="required">*</span></span><textarea name="field6" class="textarea-field"></textarea></label>
                <label><span> </span><input type="submit" value="Submit" /></label>
            </fieldset>
        </form>
    </div>
{% endblock %}




