{% block title %}Recipes Dashboard{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

    <section class="recipes-dashboard">
        <div class="dashboard-top">
            <h1>Recipes List</h1>
            <a href="{{ path("new_recipe") }}" class="custom-button-wide">Create New Recipe</a>
        </div>

        {% if recipes is empty %}
            <div>You haven't created recipe.</div>
        {% else %}
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Username</th>
                    {% endif %}
                    <th>Title</th>
                    <th>Image</th>
                    <th>Descriptions</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {# Reverse loop to display recipes in ascending order of ID #}
                {% for recipe in recipes|reverse %}
                    <tr>
                        <td>{{ recipe.id }}
                            {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ recipe.user }}</td>
                        {% endif %}
                        <td>{{ recipe.name }}</td>
                        <td><img src="{{ asset('uploads/images/' ~ recipe.image) }}" alt="{{ recipe.name }}"></td>
                        <td>{{ recipe.description|capitalize }}</td>
                        <td>
                            <div class="action-buttons">
                                <a href="{{ path("show_recipe", {"id" : recipe.id}) }}" class="show-button custom-button-icon"><i class="fas fa-eye"></i></a>
                                <a href="{{ path("edit_recipe", {"id" : recipe.id}) }}" class="edit-button custom-button-icon"><i class="fas fa-edit"></i></a>
                                <a href="{{ path("delete_recipe", {"id" : recipe.id}) }}" class="delete-button custom-button-icon"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if page is defined and page is not null %}
            {# Pagination links #}
            <div class="pagination-container">
                <a href="{{ path('list_recipes', {'page': page-1, 'perPage': perPage}) }}" class="custom-button-small">Previous</a>
                <span>Page {{ page }}</span>
                <a href="{{ path('list_recipes', {'page': page+1, 'perPage': perPage}) }}" class="custom-button-small">Next</a>
            </div>

            {# Form to change the number of recipes #}
            <form action="{{ path('list_recipes') }}" method="get" class="pagination-form">
                <label for="perPage">Recipes per page:</label>
                <select name="perPage" id="perPage" onchange="this.form.submit()">
                    <option value="10" {% if perPage == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if perPage == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if perPage == 50 %}selected{% endif %}>50</option>
                    <option value="100" {% if perPage == 100 %}selected{% endif %}>100</option>
                </select>
            </form>
        {% endif %}

    </section>

{% endblock %}

{# Set route-data for scss #}
{% set pageRoute = 'recipes_dashboard' %}
