{% block title %}Recipes Dashboard{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

    <section class="recipes-dashboard">
        <div class="dashboard-top">
            <h1>Recipes List</h1>
            <a href="{{ path("new_recipe") }}" class="custom-button-wide">
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>

        {% if recipes is empty %}
            <p>You haven't created recipe.</p>
        {% else %}
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Descriptions</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {# Reverse loop to display recipes in ascending order of ID #}
                {% for recipe in recipes|reverse %}
                    <tr>
                        <td data-label="ID">{{ recipe.id }}
                        <td data-label="Title">{{ recipe.name }}</td>
                        <td><img src="{{ asset('uploads/images/' ~ recipe.thumbnail) }}" alt="{{ recipe.name }}"></td>
                        <td data-label="Description">{{ recipe.description }}</td>
                        <td>
                            <div class="actions-buttons">
                                <a href="{{ path("show_recipe", {"id" : recipe.id}) }}" class="show-button custom-button-icon"><i class="fas fa-eye"></i></a>
                                <a href="{{ path("edit_recipe", {"id" : recipe.id}) }}" class="edit-button custom-button-icon"><i class="fas fa-edit"></i></a>
                                <a href="#" onclick="showConfirmationModal('{{ recipe.name }}', '{{ path('delete_recipe', {'id': recipe.id}) }}')" class="delete-button custom-button-icon"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if page is defined and page is not null %}
            {# Pagination links #}
            <div class="pagination-container custom-button-container">
                {% if hasPreviousPage %}
                    <a href="{{ path('list_recipes', {'page': page-1, 'perPage': perPage}) }}" class="custom-button-small">Previous</a>
                {% else %}
                    <span class="disabled-button">Previous</span>
                {% endif %}

                <span>Page {{ page }}</span>

                {% if hasNextPage %}
                    <a href="{{ path('list_recipes', {'page': page+1, 'perPage': perPage}) }}" class="custom-button-small">Next</a>
                {% else %}
                    <span class="disabled-button custom-button-small">Next</span>
                {% endif %}
            </div>

            {# Refactor TODO MARIKA !!!! #}
            {# Form to change the number of recipes #}
            <form action="{{ path('list_recipes') }}" method="get" class="pagination-form">
                <label for="perPage">Recipes per page:</label>
                <select name="perPage" id="perPage" onchange="this.form.submit()">
                    <option value="10" {% if perPage == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if perPage == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if perPage == 50 %}selected{% endif %}>50</option>
                    <option value="100" {% if perPage == 100 %}selected{% endif %}>100</option>
                </select>
            </form>
        {% endif %}
    </section>

    <!-- modal for confirm deleting cuisine -->
    <div id="confirmation-recipe-modal">
        <p id="confirmation-message" class="confirmation-message"></p>
        <div class="modal-buttons">
            <button class="confirm-button" onclick="confirmDelete()">Yes, Delete</button>
            <button class="cancel-button" onclick="cancelDelete()">Cancel</button>
        </div>
    </div>

    <script src="{{ asset('js/recipes_dashboard.js') }}"></script>
{% endblock %}

{# Set route-data for scss #}
{% set pageRoute = 'recipes_dashboard' %}
