{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}
    <section class="row-recipe">
        <div class="leftcolumn">
            <article class="card-box">
                <h3>About Recipe</h3>
                <p>Preparation Time : {{ recipe.prepTime }} minutes</p>
                <p>Servings : {{ recipe.servings }} people</p>
                <p>Cook Time: {{ recipe.cookTime }} minutes</p>
                {% if recipe.calories is not empty %}
                    <p>Calories: {{ recipe.calories }}</p>
                {% endif %}
                <p>Difficulty: {{ recipe.difficulty }}</p>

                {% if recipe.cuisine is not empty %} {# This condition checks if recipe.cuisine is not empty, including the case where it's not null.  #}
                    <p>Cuisine: {{ recipe.cuisine }}</p>
                {% endif %}

                {% if categories is not empty%}
                    <p>Categories:</p>
                    <ul>
                        {% for category in categories %}
                            <li>{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {# if user land the page from searchRecipesByFilters and $formCategories  #}
                {% if recipesByCategories is defined %}
                    <p>Categories:</p>
                    <ul>
                        {% for category in recipesByCategories %}
                            <li>{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </article>
            <article class="card-box">
                <h3>Ingredients</h3>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient.name }} : {{ ingredient.amount }}</li>
                    {% endfor %}
                </ul>
            </article>
            {% if sameCategoriesRecipes is defined %}
                <article class="recommendation-recipes">
                    <h3>You maybe also like</h3>
                    {% for sameCategoriesRecipe in sameCategoriesRecipes %}
                        <a href="{{ path('show_recipe', {'id': sameCategoriesRecipe.id}) }}">
                            <h4>{{ sameCategoriesRecipe.name }}</h4>
                            <img src="{{ asset('uploads/images/' ~ sameCategoriesRecipe.thumbnail) }}" alt="{{ sameCategoriesRecipe.name }}">
                        </a>
                    {% endfor %}
                </article>
            {% endif %}
        </div>
        <div class="rightcolumn">
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('list_recipes') }}" class="return-list-button">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            {% endif %}

            <article class="card-box">
                <h2>{{ recipe.name }}</h2>
                <p>{{ recipe.description }}</p>

                <div class="recipe-infos">
                    {% if  recipe.updatedAt > recipe.createdAt %}
                        <time><i class="fa fa-calendar"></i>Updated : {{ recipe.updatedAt|date('Y-m-d') }}</time>
                    {% else %}
                        <time><i class="fa fa-calendar"></i>Created : {{ recipe.createdAt|date('Y-m-d') }}</time>
                    {% endif %}
                    <i class="fa-solid fa-heart like-icon liked" data-recipe-id="{{ recipe.id }}"></i>{{ LikesCountForRecipe }}
                </div>

                <img class="recipe-img" src="{{ asset('uploads/images/' ~ recipe.thumbnail) }}" alt="{{ recipe.name }}">

                {% if extraPhotos is defined and extraPhotos is not null and extraPhotos|length > 0 %}
                    <h3>Additional Photos</h3>
                    <div class="extra-img-container">
                        {% for extraPhoto in extraPhotos %}
                            <img src="{{ asset('uploads/images/' ~ extraPhoto) }}" alt="{{ recipe.name }}">
                        {% endfor %}
                    </div>
                {% endif %}

                <h3>Instructions</h3>
                <p>{{ recipe.instructions }}</p>

            </article>
        </div>
    </section>

    <section class="comment-section">
        <h2>Comments</h2>

        {# Display a add flash messages of comments #}
        <div id="comments-flash-message-container"role="alert"></div>

        {% if is_granted('ROLE_USER') %}
            {{ form_start(form, {'attr' : {'class': 'comments'}, 'action': path('show_recipe', {'id' : recipe.id}), 'method' : 'POST'}) }}
            {{ form_row(form.content) }}
            {{ form_row(form._token) }}
            <button class="custom-button-wide" type="submit">Add a comment</button>
            {{ form_end(form) }}
        {% else %}
            {# Display a message for non-authenticated users #}
            <p>Please log in to leave comments.</p>
        {% endif %}

        <div id="comment-parent">
            {% for comment in comments %}
                {% if comment.getUser() is not null and comment.getUser() is defined %}
                    <div class="comment-container">
                        <h4>Name: {{ comment.getUser().getUsername() }}</h4>
                        <p class="posted-info">Posted on {{ comment.datetime|date("F j, Y") }}</p>
                        <p>{{ comment.content }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <script src="{{ asset('js/comments.js') }}" type="application/javascript"></script>
{% endblock %}

{# Set route-data for scss #}
{% set pageRoute = 'show_recipes' %}


