{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}

    <section class="row-recipe">
        <div class="leftcolumn">
            <div class="card">
                <h3>About Recipe</h3>
                <p>Preparation Time : {{ recipe.prepTime }}</p>
                <p>Servings : {{ recipe.servings }}</p>
                <p>Cook Time: {{ recipe.cookTime }}</p>
                <p>Calories: {{ recipe.calories }}</p>
                <p>Difficulty: {{ recipe.difficulty }}</p>
                <p>Cuisine: {{ recipe.cuisine }}</p>
            </div>
            <div class="card">
                <h3>Ingredients</h3>
                {% for ingredient in recipe.ingredients %}
                    <p>{{ ingredient.name }} : {{ ingredient.amount }}</p>
                {% endfor %}
            </div>
            <div class="card">
                <h3>You maybe also like</h3>
                {#  TODO MARIKA Show semilar recipes #}
                <div class="fakeimg">Image</div>
                <div class="fakeimg">Image</div>
                <div class="fakeimg">Image</div>
            </div>
        </div>
        <div class="rightcolumn">
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('list_recipes') }}" class="return-list-button">Back to list</a>
            {% endif %}

            <div class="card">
                <h2>{{ recipe.name }}</h2>
                <h5>{{ recipe.description }}</h5>
                <time> <i class="fa fa-calendar"></i> {{ recipe.createdAt ? recipe.createdAt|date('Y-m-d H:i:s') : (recipe.updatedAt ? recipe.updatedAt|date('Y-m-d H:i:s') : '') }}</time>

                <img class="recipe-img" src="{{ asset('uploads/images/' ~ recipe.image) }}" alt="{{ recipe.name }}">

                <h3>Additional Photos</h3>
                {% if extraPhotos is defined and extraPhotos is not null %}
                    <div class="extra-img-container">
                        {% for extraPhoto in extraPhotos %}
                            <img src="{{ asset('uploads/images/' ~ extraPhoto) }}" alt="{{ recipe.name }}">
                        {% endfor %}
                    </div>
                {% endif %}

                <h3>Instructions</h3>
                <p>{{ recipe.instructions }}</p>

            </div>
        </div>
    </section>

    <section class="comment-section">
        <h2>Comments</h2>

        {{ form_start(form, {'attr' : {'class': 'comments'}, 'action': path('show_recipe', {'id' : recipe.id}), 'method' : 'POST'}) }}
        {{ form_row(form.content) }}
        {{ form_row(form._token) }}
        <button class="custom-button-wide" type="submit">Add a comment</button>
        {{ form_end(form) }}

        <div id="comment-parent">
            {% for comment in comments %}
                {% if comment.getUser() is not null and comment.getUser() is defined %}
                    <div class="comment-container">
                        <h4>Name: {{ comment.getUser().getUsername() }}</h4>
                        <p class="posted-info">Posted on {{ comment.datetime|date("F j, Y") }}</p>
                        <p>{{ comment.content }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </section>

    <script src="{{ asset('js/comments.js') }}" type="application/javascript"></script>
{% endblock %}

{# Set route-data for scss #}
{% set pageRoute = 'show_recipes' %}


